{% load static %}
{% include "css.html" %}

<style>
   body {
    overflow-x: hidden;    /* Supprime le scroll horizontal */
  }


    .custom-background {
        background-image: url("{% static 'img/banner/bg_2.png' %}");
        background-size: cover;
        position: relative; 
    }

  #my-banner {
    margin-top:40px ;
    background-image: url("{% static 'img/kid.jpg' %}");
    background-position: 80px center;
    background-repeat: no-repeat;
    height:200px !important;
  }
  #text{
     margin-top:200px ;
  }

  .form{
    margin-top :50px;
    margin-left :200px;
  }
  #pred{
    margin-left:300px;
    margin-top:100px;
  }
  #left{
    margin-right:50px;
  }
  .h{
    color: #0d6efd;
  }
</style>


</style>
{% include "header.html" %}

<body>
    
  

<!--================About  Area =================-->
 
    <section id="my-banner" class="banner-area d-flex align-items-center">
        <div class="container">
            <div class="row" id="text">
                <div  class="col-md-8 col-lg-6 col-xl-5">
                    <h1>Kidney<br>
                    Abnomalities</h1>
                    <p>In dialysis patients, the absence of continuous blood <br>filtration leads to toxin buildup which can contribute to the development of kidney tumors, cysts, or stones.<br> To address this issue, we propose an automated system <br> for detecting these kidney abnormalities <br>from medical scans.
</p>
                </div>
            </div>
        </div>
    </section>
<!--================About Area End =================-->
<br> <br>
    <div class="container">
            <div class="area-heading row">
                <div class="col-md-5 col-xl-4">
                    <h3>Select<br>
                    A kidney scan</h3>
                </div>
                <div class="col-md-7 col-xl-8">
                        <form class="form" method="post" enctype="multipart/form-data" action="{% url 'predect' %}">
        {% csrf_token %}
        <input type="file" name="image" required style="margin-right:60px">
        <button class="btn btn-primary " type="submit">Predict</button></form>  
                </div>
    </div>
        
    <!-- Formulaire d'upload -->

     

    <!-- Résultat (s'il existe) -->
    {% if prediction %}
         
        <div id="pred"class="row">

                <div id="left"class="col-12 col-md-6 col-lg-4">
                    <div class="card card-team">
                        <img class="card-img rounded-0"src="{{ image_url }}" alt="Image originale">
                        <div class="card-team__body text-center">
                            <h3 class="h">Result : </h3>
                            <p>{{ prediction }}</p>
                        </div>
                    </div>
                </div>

                   <div class="col-12 col-md-6 col-lg-4">
                    <div class="card card-team">
                        <img class="card-img rounded-0" src="{{ lime_url }}" alt="Image LIME">
                        <div class="card-team__body text-center">
                              <h3 class="h">Influential areas of </h3>
                            <p>{{ prediction }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</body>
    
    <!--================ Feature section end =================-->  

{% include "footer.html" %}

